+++
title = "Loredux"
linkTitle = "Loredux"

+++

{{< blocks/cover title="Loredux" image_anchor="bottom" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		詳細を見る <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/issasaek/method/releases">
		Download<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><font size="6">Logical Reduction and Extinction</font></p>
	{{< blocks/link-down color="info" >}}
	<p class="lead mt-5"><font size="6">論理的還元と滅法</font></p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Loredux は，信念体系を最適化するために設計されたフレームワークとメソッドです．プロジェクトの目標は，あなたがどんな状況に置かれているかを問わず，人生の問題を最終的に解決することです．
{{% /blocks/lead %}}


{{< blocks/section color="secondary">}}

{{% blocks/feature icon="fa-solid fa-minimize" title="最適化" url="/docs" %}}
Lordux は信念体系の深部に分け入り，論理的その他の連関によって互いに結合する信念のネットワーク構造を入念に再編成します．
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-arrows-rotate" title="適応" url="/docs" %}}
Lordux は日常的意識を改変して，不快な感情を無害化し，物理的自我のシステムをより適応的にします．
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-infinity" title="滅法" url="/docs" %}}
Loredux は最終的に，物理的自我にそれ自身を含めた物理的世界の不在を自覚させ，無限の全体性と同一化された哲学的自我を呼び覚まします．
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="GitHub Discussions" url="https://github.com/issasaek/issasaek.github.io/discussions" %}}
ディスカッションとヘルプ
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter" url="https://twitter.com/issasaek" %}}
Twitterでフォローして最新情報を取得
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/issasaek/method" %}}
プロジェクトのリポジトリを参照
{{% /blocks/feature %}}


{{< /blocks/section >}}
