+++
title = "Loredux"
linkTitle = "Loredux"

+++

{{< blocks/cover title="Loredux" image_anchor="bottom" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		詳細を見る <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/issasaek/foundation">
		Foundation <i class="fab fa-github ml-2 "></i>
	</a> -->
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/issasaek/method/releases">
		Download<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><font size="6">Logical Reduction and Extinction</font></p>
	{{< blocks/link-down color="info" >}}
	<p class="lead mt-5"><font size="6">論理的還元と滅法</font></p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Loredux は，信念体系を最適化するために設計された言語的装置の集合体，あるいはフレームワークです．プロジェクトの目標は，あなたが自らを再構築して自由な創造性を発揮できるようにすること，そして，あなたの人生の問題を最終的に解決することです．
{{% /blocks/lead %}}


{{< blocks/section color="secondary">}}

{{% blocks/feature icon="fa-square-check" title="最適化" url="/docs" %}}
Lordux は，あなたの信念体系を入念に再編成します．それによって，あなたが望む人生を自覚的に創造できるようになる基盤が作られます．
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-minimize" title="再構築" url="/docs" %}}
信念体系を最適化することは，自分自身を再設計し，再デザインすることです．それはあなたを取り巻く現実を再構築することでもあります．
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-infinity" title="滅法" url="/docs" %}}
Loredux は日常的意識を改変し，現実を相対化します．そして，すべての苦悩と挫折を終わらせ，あなたを平安と幸福に導きます．
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="GitHub Discussions" url="https://github.com/issasaek/issasaek.github.io/discussions" %}}
ディスカッションとヘルプ
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Twitter" url="https://twitter.com/issasaek" %}}
Twitterでフォローして最新情報を取得
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/issasaek/method" %}}
プロジェクトのリポジトリを参照
{{% /blocks/feature %}}


{{< /blocks/section >}}
